body {
    background-color: #e7e7e791;
    color: #000000;
}

.logo {
    height: 100px;
    width: 250px;
}

.student-name {
    font-size: 24px;
    font-weight: bold;
}

.submit{
    background-color: #18427a;
    color: #ffffff;
    border-radius: 7px;
}
.submit:hover {
    background: rgb(0, 77, 177);
    color: #000000;
}

.table {
    color: #000000;
    background-color: rgba(128, 128, 128, 0.13);
    
}
    
a, .btn-primary {
    color: #a0a0a0;
    background-color: #ffffff00;
    border-color: #a0a0a0;
}

a:hover, .btn-primary:hover {
    color: #000000;
    background-color: #a0a0a000;
    border-color: #343a40;
}

table th {
    background-color: #18427a;
    color: #ffffff;
}

table tr:hover {
    background-color: rgba(42, 21, 230, 0.2); 
}

header{
    background-color: #ffffff;
}

nav {
    display: flex;
    gap: 0.625%;
    margin: 10px auto 0px auto;
    
}
  
nav a {
    flex: 1;
    text-decoration: none;
    outline: none;
    text-align: center;
    line-height: 3;
    color: #ffffff;
    font-size: larger;
}
  
  nav a:link,
  nav a:visited,
  nav a:focus {
    background-color: #18427a;
    border-radius: 7px;
  }
  
nav a:hover {
    background: rgb(0, 77, 177);
}
  
  
  


