{% extends "templates/boilerplate.html" %}
{% load static %}
{% block content %}  

<style>
  .hero {
    min-height: 100vh; /* Ensures at least full height of the viewport */
    display: flex;
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
    overflow: auto; /* Allows scrolling within the hero section if needed */
    justify-content: center;
  }
</style>

<!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Welcome to <span>EduResolve</span></h2>
          <p>platform is dedicated to bridging the gap between students and the administrative body, ensuring your concerns are heard, acknowledged, and addressed.</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="{% url 'login' %}" class="btn-get-started">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="{% static 'assets/img/hero-img.svg' %}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>
    </div>
  </section>
<!-- ======= End Hero Section ======= -->
{% endblock %}