{% extends "templates/boilerplate.html" %}

{% load static %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h2 class="my-4">Account Successfully Activated!</h2>
      <p>Your account has been successfully activated. You can now access all the features available on our platform.</p>
      <div class="my-4">
        <br>
        <a href="" class="btn btn-success">Continue to Dashboard</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}